table.table {
	margin-top:20px;
}

table.table td:first-child {
	width:100px;
}

table.table input.text {
	border:0;
	padding:0;
	background-color:inherit;
	width:100%;
	text-overflow:ellipsis;
}

tr#inforow {
	display:none;
}

span#info {
	white-space:pre;
}
